h1{
    margin-left: 400px;
    color: rgb(58, 58, 110);
    font-size: 40px;
}
p{
    margin: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(80, 78, 78);
    font-size: 20px;
}
h4{
 margin-left: 50px;
 margin: 60px;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 color: rgb(58, 58, 110);
    font-size: 30px;

}
#newhead{
    margin: 20px;
}
p ul li{
    margin: 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(80, 78, 78);
    font-size: 20px;
}